.main {
    border: 2px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    display: flex;
}
.heading {
  color: dodgerblue;
  font-size: x-large;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px lightblue;
}
.child {
  border: solid 1px;
  width: 500px;
  margin: 10px;
  padding: 1rem 1rem;
  box-shadow: 10px 10px 5px lightgrey;
}
